<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>38086855431-5ftfi84v3mru8p1ptdbnipcc6l8642pl.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>38086855431-u8ukbe6bsd0bl4a989pppc33153ear46.apps.googleusercontent.com</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.38086855431-u8ukbe6bsd0bl4a989pppc33153ear46</string>
				<string>com.karim.ecommerce</string>
			</array>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
